<div class="row justify-content-around">
  <div class="col-xl-5">
    <h1 class="animated fadeIn fast">Comic App</h1>
    <hr class="color" />
    <p class="animated fadeIn">
     Comic App te informa de manera breve sobre los personajes que conforman
      las grandes familias de héroes que se dan en el mundo de la ficcion en
      este caso <strong>Marvel y DC</strong>. <br>DC Comics nació bajo el nombre de <strong>National Allied
      Publications</strong> en 1934 y comenzó su carrera de publicaciones con Superman;
      quien posiblemennte es el héroe mas famoso y antiguo. <br>Por otro lado, 5
      años mas tarde, Marvel surgio con el nombre de <strong>Timely Puclications</strong> en 1939
      despues de dos años de su fundacion aparece el primer personaje aún
      reconocible Capitán América.<br>Ambas casas pasaron por sus épocas dificiles y
      sus eras de oro. Llegando amasar la gran cantidad de personajes famosos
      que conocemos hoy día.Se habla de que Marvel tiene una base de datos de
      más de 7000 personajes, mientras que DC llegaría a contar más de 20000.
    </p>
  </div>
  <div class="col-xl-5">
    <figure class="figure">
      <img
        src="https://fotos.subefotos.com/35fc66dbee3ff5e1d90634eeb63ad63ao.jpg"
        class="figure-img img-fluid rounded"
        alt=""
        srcset=""
      />
    </figure>
  </div>
</div>
